.azul {
    background-color: #0c2461;
}

.ventana {
    width: 100vw;
    height: 100vh;
    background-color: #0c2461;
    display: flex;

}

.menu {
    background: #0a3d62;
    width: 15%;
    height: 100%;

}

.titulo {
    background: #82ccdd;
    opacity: 30%;
    height: 10%;
    min-height: 30px;
}

.textoTitulo {
    font-size: 3vw;
    text-align: center;
}

.separador {
    height: 82%;
}

.nombre {
    /*Posicionar abajo del cuadro "menu"*/
    background-color: #0a3d62;
    margin-left: 3%;
    width: 92%;
}

.ventanaChat {
    background: #0c2461;
    width: 100%;
    height: 85%;

}

.chat {
    margin: 1%;
    padding-top: 5px;
    height: 100%;
    background-color: lightblue;
}


.mensajeEnChat {
    border-radius: 5px;
    margin: 10px;
}

.mensajeEnChat span {
    background-color: white;
    border-radius: 5px;
}

.enviarMensaje {
    display: flex;
    width: 100%;
    background-color: #0c2461;
    height: 5%;
}

.textoMensaje {
    background: #0c2461;
    width: 100%;
    margin-left: 5px;
    margin-top: 3px;

}

textarea {
    min-width: 100%;
    resize: none;
    justify-content: center;
}

.botonEnviar {
    background: #888;
    margin: 3px;
    margin-left: 10px;
    height: 48px;
    width: 6%;
    font-size: auto;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
}

.botonEnviar:hover {
    background: rgba(66, 66, 66, 0.815);
}

.adapt {
    font-size: 1vw;
}

#fname {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
    resize: none;
    height: 20px;
    margin-right: 7px;
}

#ftext {
    border: 0 none white;
    overflow: auto;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
}




.chat {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/fondo.jpg");

}

.boton {
    background-color: #616060;

    height: 30px;
    width: 80px;
    font-size: auto;
    text-align: center;
    cursor: pointer;
}

.chat-wrapper {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: inherit;
}


.speech-wrapper {
    padding: 0;
    padding-left: 20px;
}

.speech-wrapper .bubble {
    width: 240px;
    height: auto;
    display: block;
    background: #f5f5f5;
    border-radius: 4px;
    box-shadow: 2px 8px 5px #000;
    position: relative;
    margin: 0 0 25px;
}

.speech-wrapper .bubble.alt {
    margin-left: 60px;
}

.speech-wrapper .bubble .txt {
    padding: 8px 55px 8px 14px;
}

.speech-wrapper .bubble .txt .name {
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 4px;
    color: #3498db;
}

.speech-wrapper .bubble .txt .name span {
    font-weight: normal;
    color: #b3b3b3;
}

.speech-wrapper .bubble .txt .name.alt {
    color: #2ecc71;
}

.speech-wrapper .bubble .txt .message {
    font-size: 12px;
    margin: 0;
    color: #2b2b2b;
}

.speech-wrapper .bubble .txt .timestamp {
    font-size: 11px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    text-transform: uppercase;
    color: #999;
}

.speech-wrapper .bubble .bubble-arrow {
    position: absolute;
    width: 0;
    bottom: 42px;
    left: -16px;
    height: 0;
}

.speech-wrapper .bubble .bubble-arrow.alt {
    right: -2px;
    bottom: 40px;
    left: auto;
}

.speech-wrapper .bubble .bubble-arrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid #f5f5f5;
    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
}

.speech-wrapper .bubble .bubble-arrow.alt:after {
    transform: rotate(45deg) scaleY(-1);
}


@media only screen and (hover: none) and (pointer: coarse) {
    .menu {
        /*display: none;*/
        height: 80px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .separador {
        height: 20%;
    }

    .nombre {
        width: 15%;
    }

    .ventanaChat {
        position: relative;
        top: 80px;
    }
}