body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h2 {
    text-align: center;
    text-shadow: 3px 3px darkgrey;
}

p {
    color: darkorange;
    text-shadow: 1px 1px black;
}