<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='/js/jquery-3.6.0.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/normalize.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/reset.css") }}">
    <script src="{{ url_for('static', filename='js/js.js')}}"></script>
    <link rel="icon" href="../../static/images/icon.jfif">
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>